.fig {
    float: left;
    width: 2vw;
    height: 2vw;
    position: relative;
    left: -12vw;
    animation-name: example;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    z-index: 2;
}

@keyframes example {
    0%   {
      width: 0vw;
      height: 0vw;
    }
    25%  {
      width: 1vw;
      height: 1vw;
    }
    50%  {
      width: 1.5vw;
      height: 1.5vw;
    }
    75%  {
      width: 2.2vw;
      height: 2.2vw;
  }
    100% {
      width: 2vw;
      height: 2vw;
  }
}
