.fig {
    width: 18px;
    height: 18px;
    position: absolute;
    animation: appear 1s ease-in-out;
    animation-fill-mode: backwards;
    z-index: 2;
}

@keyframes appear {
    0%   {
      width: 0;
      height: 0;
    }
    25%  {
      width: 8px;
      height: 8px;
    }
    50%  {
      width: 15px;
      height: 15px;
    }
    75%  {
      width: 20px;
      height: 20px;
  }
    100% {
      width: 18px;
      height: 18px;
  }
}

.fig1 {
  @extend .fig;
  left: -100px;
  top: -30px;
}
.fig2 {
  @extend .fig;
  left: -130px;
  top: -70px;
  animation-delay: 2.2s;
}
.fig3 {
  @extend .fig;
  left: -150px;
  animation-delay: 1s;
}
