.header {
  padding: 0px 5vw;
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);

  @media(min-height:900px) {
    font-size: 2.2em;
  }

  li {
    float: right;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding: 20px 20px;

    &:first-child {
      float: left;
    }
  }

  a {
    padding-bottom: 3px;
    color: #333 !important;
    text-decoration: none !important;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in-out;

    &:hover {
      border-bottom: 3px solid #8ec4ac;
    }
  }
}
