.app {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.content {
  margin-top: 11vh;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;

  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;

    @media(min-height: 900px) {
      font-size: 2.5em;
      position: relative;
      top: -3vh;
    }

    span {
      color: #f96b61;
      border-bottom: 1px solid #8ec4ac;
    }
    section {
      position: relative;
      top: 5vh;
      height: 200px;
      width: 300px;
      margin: 20px;
      text-align: left;
      display: inline-block;
      font-family: 'Dosis', sans-serif;
      padding-top: '3%';

      @media(min-height: 900px) {
        top: -0.5vh;
      }
    }
  }
}

.logo-img {
  align-self: center;
  position: relative;
  top: 2vh;
  z-index: -1;
  height: 200px;
  width: 200px;

  @media(min-height: 900px) {
      height: 450px !important;
      width: 450px !important;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: block;

  .modal-main {
    width: 80vw;
    height: 80vh;
    background-color: #fff;
  }
}

.gridList {
  width: 50vw;
  height: 50vh;
  overflow-y: auto;
}

.contact,
.products,
.aboutus {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
