
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.main-box span {
  color: #f96b61;
  border-bottom: 1px solid #8ec4ac;
}

.main-slide {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.01);
  color: #444;
}

.slide-contents {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 1vh;
  height: 17vh;
}

.main-slide img {
  margin: 0 20px;
  width: 50px;
  height: 90px;
}

.slide-text {
  position: relative;
  top: -4v;
  padding-left: 4vw;
  font-size: 1em;
  line-height: 1.375em;
  text-align: left;
  height: 80%;
  width: 30vw;
}
@media(min-height:900px){
  .slide-text{
    font-size: 2em;
    }
  .main-btn {
    font-size: 2em;
    line-height: 1.4em;
  }
  .main-box {
    font-size: 2.5em;
    position: relative;
    top: 4vh;
  }
  .header {
    font-size: 2em;
  }
  .header-text {
    font-size: 2em;
  }
  .header-img {
    height: 400px !important;
    width: 400px !important;
  }
}

.main-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #ddd;
  border: none;
  cursor: pointer;
}

.btn-highlighted {
  transition: all 0.2s ease-in-out;
  color: #f96b61 !important;
}
.slider {
  position: relative;
  top: 10vh;
}

.app {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.header {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
}
.header li {
  float: right;
}
.header li:first-child {
  float: left;
}

.info-list {
  position: relative;
  list-style-type: none;
  text-align: center;
  padding: 0;
  z-index: 1;
  top: -37vh;
}
.info-list li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  color: #8ec4ac;
  padding: 0px 10px;
}

.header-img {
  align-self: center;
  position: relative;
  top: 2vh;
  z-index: -1;
  height: 200px;
  width: 200px;
}

.content {
  margin-top: 40px;
}

.actions {
  display: flex;
  flex-direction: row;
  float: left;
}

.action {
  font-family: 'Dosis', sans-serif;
  font-size: 1.3em;
  text-align: center;
  padding: 20px 20px;
}

.header-link {
  padding-bottom: 3px;
  color: #333 !important;
  text-decoration: none !important;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
}
.header-link:hover {
  border-bottom: 3px solid #8ec4ac;
}

.contact {
  margin-top: 8vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: flex-start;;
  justify-content: center;
}

.products,
.aboutus {
  margin-top: 8vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
